.page {
  max-width: 880px;
  min-width: 320px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}