.form__button {
  width: 358px;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 48px;
  cursor: pointer;
  transition: opacity 1s linear;
  border: 0;
  padding: 16px 0;
}

.form__button:hover {
  opacity: .8;
}

@media (max-width: 640px) {
  .form__button {
    width: 238px;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 45px;
  }
}