.body {
  background: #000;
}
.page {
  max-width: 880px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.header {
  margin: 0 auto;
  padding-top: 45px;
}

@media (max-width: 880px) {
  .header {
padding: 28px 0 0 0;
}
}
.header__line {
  border-bottom: #545454 1px solid;
}
.header__logo {
  width: 142px;
  margin-bottom: 32px;
}
@media (max-width: 710px) {
  .header__logo {
    width: 103.74px;
    margin-bottom: 23px;
    margin-left: 20px;
  }
}
.profile {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 880px) {
  .profile {
    padding: 42px 19px 0 19px;
  }
}
@media (max-width: 710px) {
  .profile {
    
    flex-direction: column;
  }
}

.profile__about {
  display: flex;
  justify-self: start;
}
@media (max-width: 710px) {
  .profile__about {
    flex-direction: column;
    margin: 0 auto;
  }
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 710px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
}
.profile__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 30px;
}
@media (max-width: 710px) {
  .profile__info {
    padding-left: 0;
  }
}
.profile__head {
  display: flex;
  margin: 0;
  padding: 0;
}
.profile__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}
@media (max-width: 710px) {
  .profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    padding-left: 25px;
}
}
.profile__correct {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 8px 0 0 22px;
  background: url(../images/ButtonCorrect.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.1s linear;
}
.profile__correct:hover {
  opacity: .6;
}
@media (max-width: 710px) {
  .profile__correct {
    width: 18px;
    height: 18px;
    margin: 7px 0 0 10px;
  }
}
.profile__occupation {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
@media (max-width: 710px) {
  .profile__occupation {
    padding-top: 7px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
@media (max-width: 880px) {
  .profile__occupation {
    padding-bottom: 32px;
  }
}
.profile__add {
  width: 150px;
  height: 50px;
  margin-top: 34px;
  background: url(../images/ButtonAdd.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.profile__add:hover {
opacity: .6;
}
@media (max-width: 710px) {
  .profile__add {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .profile__add {
    width: 100%;
  }
}
.elements {
  padding: 50px 0 0 0;
}
@media (max-width: 710px) {
  .elements {
    padding-top: 36px;
  }
}
.elements_block {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 17px;
}
@media (max-width: 880px) {
  .elements_block {
    padding: 0 19px 0 19px;
    justify-content: space-between;
  }
}
@media (max-width: 710px) {
  .elements_block {
    gap: 20px;
  }
}
@media (max-width: 620px) {
  .elements_block {
    justify-content: center;
  }
}
.elements__card {
  list-style-type: none;
  border-radius: 10px;
  width: 282px;
  height: 362px;
  background-color: #ffffff;
}
.elements__img {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.elements__down {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 23px 15px 31px 21px;
}
.elements__name {
  width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
}
.elements__like {
  background: url(../images/ButtonLike.png);
  background-repeat: no-repeat;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 1s linear;
  width: 25px;
}
.footer__img {
  margin: 0;
  padding: 70px 0 60px 0;
}
@media (max-width: 880px) {
  .footer__img {
    padding: 48px 0 36px 19px;
    width: 140px;
    height: 11px;
  }
}
/* .popup:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #000000;
  opacity: 0.5;
} */
.popup {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 215px);
  width: 430px;
  height: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (max-width: 640px) {
  .popup {
    width: 282px;
    height: 322px;
    top: 123px;
    /* выровнить по левой стороне а точнее по центру страницы */
    left: 19px;
  }
}
.popup_opened {
  display: none;
}
.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: opacity 1s linear;
}
.popup__close:hover {
  opacity: 0.6;
}
@media (max-width: 640px) {
  .popup__close {
    right: 0;
    top: -37px;
    width: 20px;
  }
}
.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  padding: 34px 0 45px 36px;
}
@media (max-width: 640px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding: 26px 0 73px 24px;
  }
}
.form {
  padding: 0 36px;
}
@media (max-width: 640px) {
  .form {
    padding: 0 20px;
  }
}
.form__input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 9px;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.form__input:first-child {
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .form__input {
    padding-bottom: 8px;
  }
}
.form__button {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 48px;
}
.form__button:hover {
  opacity: .8;
}
@media (max-width: 640px) {
  .form__button {
    width: 238px;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 43px;
  }
}