.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: opacity 1s linear;
  border: 0;
  background: none;
}

.popup__close:hover {
  opacity: .6;
}

@media (max-width: 640px) {
  .popup__close {
    right: -7px;
    top: -37px;
  }
}