.profile__correct {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 14px 0 0 18px;
  background: url(../../../images/ButtonCorrect.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.1s linear;
}

.profile__correct:hover {
  opacity: .6;
}

@media (max-width: 710px) {
  .profile__correct {
    width: 18px;
    height: 18px;
    margin: 7px 0 0 10px;
  }
}